# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# modules
/vendor/modules/yebo-ember/*
/vendor/modules/yebo_sdk/*
!/vendor/modules/yebo-ember/.gitkeep
!/vendor/modules/yebo_sdk/.gitkeep
